<%- include("partials/header") %>

<section class="about">
  <h2 class="heading-2 about__heading">
    About<span class="accent-line"></span>
  </h2>
  <p class="about__info">
    Melting Pot is built using the free Spoonacular API. This allows Melting Pot
    to access 5,000+ recipes from a multitude of different sources.
  </p>
  <svg class="about__spoonacular-logo">
    <use xlink:href="img/spoonacular_logo.svg#Layer_1"></use>
  </svg>
</section>

<%- include("partials/footer") %>
