<%- include("partials/header") %>

<section class="hero">
  <h1 class="heading-1 hero__tagline">Recipes around the world</h1>
  <form class="search" action="">
    <label for="search__main" class="search__main-label"
      >Search for recipes</label
    >
    <input
      type="text"
      class="search__main"
      id="search__main"
      placeholder="Search..."
    />
    <label for="search__category" class="search__category-label"
      >Or search by region</label
    >
    <select id="search__category" class="search__category">
      <option selected>Choose a Cuisine...</option>
      <option value="African">African</option>
      <option value="American">American</option>
      <option value="British">British</option>
      <option value="Cajun">Cajun</option>
      <option value="Caribbean">Caribbean</option>
      <option value="Chinese">Chinese</option>
      <option value="Eastern European">Eastern European</option>
      <option value="European">European</option>
      <option value="French">French</option>
      <option value="German">German</option>
      <option value="Greek">Greek</option>
      <option value="Indian">Indian</option>
      <option value="Irish">Irish</option>
      <option value="Italian">Italian</option>
      <option value="Japanese">Japanese</option>
      <option value="Jewish">Jewish</option>
      <option value="Korean">Korean</option>
      <option value="Latin American">Latin American</option>
      <option value="Mediterranean">Mediterranean</option>
      <option value="Mexican">Mexican</option>
      <option value="Middle Eastern">Middle Eastern</option>
      <option value="Nordic">Nordic</option>
      <option value="Southern">Southern</option>
      <option value="Spanish">Spanish</option>
      <option value="Thai">Thai</option>
      <option value="Vietnamese">Vietnamese</option>
    </select>

    <button class="search__btn" type="button">Search</button>
  </form>
</section>

<section class="featured">
  <h2 class="featured__heading heading-2">
    Featured <span class="accent-line"></span>
  </h2>
  <div class="pagination hidden">
    <ul class="pagination__list">
      <li class="pagination__control">
        <button
          class="pagination__button pagination__button-start"
          id="btn-start"
        >
          <<
        </button>
      </li>
      <li class="pagination__control">
        <button
          class="pagination__button pagination__button-prev"
          id="btn-prev"
        >
          <
        </button>
      </li>
      <li class="pagination__control">
        <button
          class="pagination__button pagination__button-next"
          id="btn-next"
        >
          >
        </button>
      </li>
      <li class="pagination__control">
        <button class="pagination__button pagination__button-end" id="btn-end">
          >>
        </button>
      </li>
    </ul>
  </div>
</section>

<%- include("partials/footer") %>
