<%- include("partials/header") %>

<section class="login__wrapper">
  <div class="login">
    <h1 class="heading-1 login__heading">Log In</h1>
    <form action="/login" method="POST" class="login__form">
      <label for="username" class="login__label">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="login__input-username"
        placeholder="Username"
        required
      />
      <label for="password" class="login__label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="login__input-password"
        placeholder="Password"
        required
      />
      <button class="login__btn" type="submit">Log In</button>
    </form>
  </div>
</section>

<%- include("partials/footer") %>
