<%- include("partials/header") %>

<section class="profile">
    <nav class="side-nav">
        <ul class="side-nav__list">
            <li class="side-nav__item">
                <button class="side-nav__btn side-nav__btn-active">Saved Recipes</button>
            </li>
        </ul>
    </nav>
    <main class="profile__content">
        <div class="saved-recipes">
            <div class="recipe__card">
                <figure class="recipe__img-container">
                  <img src="img/recipe-test.jpg" alt="Recipe Image" class="recipe__img" />
                </figure>
                <div class="recipe__details">
                  <a href="#" class="heading-4 recipe__name">Recipe name</a>
                  <p class="recipe__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar
                    massa eu lacus bibendum...
                  </p>
                </div>
                <div class="recipe__like">
                  <button class="recipe__like-btn" onclick="">
                    <svg class="recipe__heart-icon">
                      <use xlink:href="img/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="recipe__card">
                <figure class="recipe__img-container">
                  <img src="img/recipe-test.jpg" alt="Recipe Image" class="recipe__img" />
                </figure>
                <div class="recipe__like">
                  <button class="recipe__like-btn" onclick="">
                    <svg class="recipe__heart-icon">
                      <use xlink:href="img/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>
                </div>
                <div class="recipe__details">
                  <a href="#" class="heading-4 recipe__name">Recipe name</a>
                  <p class="recipe__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar
                    massa eu lacus bibendum...
                  </p>
                </div>
              </div>
              <div class="recipe__card">
                <figure class="recipe__img-container">
                  <img src="img/recipe-test.jpg" alt="Recipe Image" class="recipe__img" />
                </figure>
                <div class="recipe__like">
                  <button class="recipe__like-btn" onclick="">
                    <svg class="recipe__heart-icon">
                      <use xlink:href="img/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>
                </div>
                <div class="recipe__details">
                  <a href="#" class="heading-4 recipe__name">Recipe name</a>
                  <p class="recipe__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar
                    massa eu lacus bibendum...
                  </p>
                </div>
        </div>
    </main>
</section>

<%- include("partials/footer") %>
